@using Blazored.FluentValidation


@if (_isResponseStatusSuccess)
{
    <div class="text-center text-success">
        <h5>Successfully created!</h5>
    </div>

}

@if (_shouldDisplayForm)
{
    <EditForm EditContext="@_editContext" OnSubmit="@HandleSubmit">
        <FluentValidationValidator />
        <AddNewSettlementDisplayForm 
            Countries="@Countries" 
            Settlement="@Settlement" 
            OnCancelButtonClick="@HandleCancelButtonClick"
        />
    </EditForm>
}
else
{
    <div class="text-center mt-1">
        <button type="submit" class="btn btn-primary" @onclick="HandleCreateNewButtonClick">
            Create new
        </button>
    </div>
}