@using Settlements.Client.DTOs
@using Settlements.Client.Services
@inject HostClient HostClient

<div class="text-center">
    <h3>Total settlements count: @(PaginatedSettlements?.TotalSettlementsCount.ToString() ?? "Loading ...")</h3>
</div>

<table class="table text-center" style="table-layout: fixed">
    <thead>
        <tr>
            <th>Country</th>
            <th>Postal code</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
</table>

@foreach (var settlement in PaginatedSettlements?.Settlements ?? Enumerable.Empty<SettlementDTO>())
{
    @if (settlement is not null)
    {
        <DisplayRowSettlement Countries="@Countries" Settlement="@settlement" OnChange="ReloadPage"/>
    }
}

<div class="row justify-content-center text-center">
    <div class="col-auto">
        <button type="button" class="btn @(HasPreviusPage ? "btn-link" : "disabled")" @onclick="LoadPreviousPage">
            Previous page
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn @(HasNextPage ? "btn-link" : "disabled")" @onclick="LoadNextPage">
            Next page
        </button>
    </div>
</div>


@code {
    [Parameter]
    public IEnumerable<CountryDTO> Countries { get; set; } = null!;

    [Parameter]
    public PaginatedSettlementsDTO? PaginatedSettlements { get; set; }

    private bool HasPreviusPage => this.PaginatedSettlements?.PageNumber > 1;
    private bool HasNextPage 
    {
        get 
        {
            var ps = this.PaginatedSettlements;
            return ps?.TotalSettlementsCount > ps?.PageSize * ps?.PageNumber;
        }
    }

    public async Task LoadPreviousPage()
    {
        var currentPage = PaginatedSettlements?.PageNumber;
        var newPS = await HostClient.GetPaginatedSettlementsDTOAsync(pageNumber: currentPage - 1);
        UpdatePaginatedSettlements(newPS);
    }

    public async Task LoadNextPage()
    {
        var currentPage = PaginatedSettlements?.PageNumber;
        var newPS = await HostClient.GetPaginatedSettlementsDTOAsync(pageNumber: currentPage + 1);
        UpdatePaginatedSettlements(newPS);
    }

    public async Task ReloadPage()
    {
        var currentPage = PaginatedSettlements?.PageNumber;
        var newPS = await HostClient.GetPaginatedSettlementsDTOAsync(pageNumber: currentPage);
        UpdatePaginatedSettlements(newPS);
    }

    // To make parent's value update also.
    private void UpdatePaginatedSettlements(PaginatedSettlementsDTO? newPS)
    {
        if (PaginatedSettlements is null || newPS is null) return;
        PaginatedSettlements.Settlements = newPS.Settlements;
        PaginatedSettlements.PageNumber = newPS.PageNumber;
        PaginatedSettlements.TotalSettlementsCount = newPS.TotalSettlementsCount;
        StateHasChanged();
    }
}
